@media (max-width:475px) {
    section {
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    height: 40px;    
}
.name {
    width: 20%;
    
}
.analize {
    gap: 10px;
    margin-left: -900px;
    margin-top: 10px;
    font-size: 25px;
    width: 100%;
}
section {
    width: 95%;
}
a {
      display: flex;
      text-decoration: none;
      color: rgb(5, 4, 4);
      position: absolute;
      left: 150px;
      font-size: 15px;
    }
button {
    display: none;
}
.major {
    background-color: rgb(255, 119, 0);
    color: white;
    height: 90px;
    font-size: 15px;
    width: 100%;
}
.control {
    display: none;
}
.normal {
    height: 50vh;
    position: relative;
    top: -50px;
    left: -20px;
    width: 105%;
} 
h2 {
    font-weight: 200;
}
.container {
    border: px solid;
    width: 100%;
    background-color: rgb(76, 76, 179);
    margin-top: -180px;    
}
.alpha {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 10px;
}
.rain {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding: 50px;
    
}
.two {
    background-color: white;
    border: 1px;
    width: 230px;
    height: 200px;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 80px;
    
}

.goo {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: -100px;
    margin-left: -100px;
}
#dd {
    display: none;
}
.three {
    background-color: white;
    border: 1px;
    width: 230px;
    height: 200px;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 80px;
    margin-top: 20px;
}
.gle {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: -100px;
    margin-left: -100px;
}
#gt {
    position: absolute;
    top: 790px;
    left: -20px;
    cursor: pointer;
    display: none;
}
.four {
    background-color: white;
    border: 1px;
    width: 230px;
    height: 200px;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 80px;
    margin-top: 20px;
}
.git {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: -100px;
    margin-left: -100px;
}
#jj {
    position: absolute;
    top: 790px;
    left: -200px;
    cursor: pointer;
    display: none;
}
.five {
    background-color: white;
    border: 1px;
    width: 230px;
    height: 200px;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 80px;
}
.eco {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: -100px;
    margin-left: -100px;
}
#ff {
    position: absolute;
    top: 790px;
    left: -200px;
    cursor: pointer;
    display: none;
}
.six {
    background-color: white;
    border: 1px;
    width: 230px;
    height: 200px;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 80px;
}
.system {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: -100px;
    margin-left: -100px;
}
#vav {
    position: absolute;
    top: 990px;
    left: 400px;
    cursor: pointer;
    display: none;
}
.seven {
    background-color: white;
    border: 1px;
    width: 230px;
    height: 200px;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 80px;
}
.sony {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: -100px;
    margin-left: -100px;
}
#zz {
    position: absolute;
    top: 790px;
    left: -200px;
    cursor: pointer;
    display: none;
}

.hello {
    float: left;
    border-bottom: 1px solid grey;   
    box-shadow: 1px 0px 10px  0px black;
    margin-left: 10px;
    width: 95%;
}
.word {
    float: left;
    width: 20%;
}
.cartoon {
    border: px solid grey;
    float: left;
    margin-top: 50px;
    border-bottom: 1px solid grey;
    margin-left: 10px;
    box-shadow: 1px 0px 10px  0px black;
    width: 95%;
}
.eric {
    float: left;
    border: px solid grey ;
    width: 20%;
    
}
.gav {
    border: 0px solid grey;
    margin-top: 50px;
    border-top: 1px thick grey;
    border-bottom: 1px solid grey;
    float: left;
    box-shadow: 1px 0px 10px  0px black;
    margin-left: 10px;
    width: 95%;
    
}
.veer {
    float: left;
    width: 20%;
}
.analytic {
    padding-left: 10px;
    padding-top: 500px;
    font-size: 10px;
}
.bold {
    font-weight: lighter;
    padding-top: 100px;
    margin-top: 50px;
    width: 100%;
    margin-left: 50px;
}
#over {
    width: 100%;
}
#sega {
   flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    width: 100%;
}

.maker {
    border: px solid grey;
    border-bottom: 0px solid grey;
    font-weight: lighter;
    padding-left: 100px;
    font-size: 15px;
    margin-left: -20px;
}
#one {
    border: px solid;
    width: 80%;
    height: 90px;
    color: black;
    padding-top: 60px;
    padding-left: 80px;
    font-size: 20px;
    box-shadow: 1px 0px 5px  0px black;
}
#two {
    border: px solid;
    width: 80%;
    height: 90px;
    font-size: 20px;
    color: black;
    padding-top: 60px;
    padding-left: 80px;
    box-shadow: 1px 0px 5px  0px black;

}
#three {
    border: px solid;
    width: 80%;
    height: 90px;
    color: black;
    font-size: 20px;
    padding-top: 60px;
    padding-left: 80px;
    box-shadow: 1px 0px 5px  0px black;
}
#four {
    border: px solid;
    width: 80%;
    height: 90px;
    padding-top: 60px;
    padding-left: 80px;
    font-size: 20px;
    box-shadow: 1px 0px 5px  0px black;
}
.camp {
    flex-direction: column;
    justify-content: space-evenly;
}
ul {
    gap: 5px;
    font-size: 10px;
    margin-left: -250px;
    margin-top: 20px;
}
#five {
    border: px solid;
    width: 150px;
    height: 90px;
    padding-top: 70px;
    padding-left: 150px;
}
#six {
    border: px solid;
    width: 150px;
    height: 80px;
    padding-top: 80px;
    padding-left: 150px;
     
}
#seven {
    border: px solid;
    width: 150px;
    height: 80px;
    padding-top: 70px;
    padding-left: 150px; 
}
#eight {
    border: px solid;
    width: 150px;
    height: 80px;
    padding-top: 70px;
    padding-left: 150px;
}
#nine {
    border: px solid;
    width: 150px;
    height: 80px;
    padding-top: 70px;
    padding-left: 150px; 
}
#ses {
    position: absolute;
    left: 20px;
    gap: px;
}
#ses1 {
    position: absolute;
    left: 120px;
}
#ses2 {
    position: absolute;
    left: 150px;
}
#ses3 {
    position: absolute;
    left: 250px;
}
#key {
    position: absolute;
    left: 20px;
    display: none;
}


}